<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# redirect all index.html files to their roots (/)
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]
</IfModule>